<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${movie.title}"></title>
        <link rel="stylesheet" th:href="@{/layout/css/global.css}">
        <link rel="stylesheet" th:href="@{/layout/css/fragments.css}">
        <link rel="stylesheet" th:href="@{/layout/css/mediaDisplay.css}">

    </head>
    <body>
        <!--This html will show when user click on any movies. A webpage that shows the details of
        the movie being cliked on.
        Downside: not showing the actors/ directors/ streaming platforms yet.-->
        
       <!--header (display logo[sidebar toggle], homeReturn icon, search bar, user's name and avatar)-->
        <div th:replace="boardsLayout/fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded
         Please use the MO logo to work with side bar if needed -->
        <div th:replace="boardsLayout/fragments/sidebar :: sideBar"></div>

        <!-- =====================================================================
                main content of the page begins here 
        ===========================================================================-->
        <main class="media-container">

            <!-- Top Section: Poster + Info -->
            <div class="media-header">
                <!-- Poster Card -->
                <div class="poster-card">
                    <img th:src="'https://image.tmdb.org/t/p/w500' + ${movie.poster_path}" 
                        alt="Movie Poster" id="poster-img" />
                </div>

                <!-- Movie's Info -->
                <div class="media-info">
                    <h1 th:text="${movie.title}" class="media-title"></h1>

                    <div class="genres">
                        <span th:each="genre : ${movie.genres}" th:text="${genre.name}" class="genre-tag"></span>
                    </div>

                    <!-- Meta info (released date and the movie's length)-->
                    <div class="meta-info">
                        <!-- release date of the movie -->
                        <div class="meta-item">
                            <h3 class="release-date-title">Released on:</h3>
                            <span th:text="${movie.release_dates?: 'Unknown'}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- middle(body) shows movie's overview and interactive actions (ratings, added to board)-->
            <div class="media-middle">
                <!--Movie's Overview-->
                <div class="media-overview">
                    <h3>Overview:</h3>
                    <p th:text="${movie.overview?: 'No description available for this movie.'}"></p>
                </div>

                <!-- Interact/ Actions Space -->
                 <div class="actions-panel">

                    <!-- For star rating (1-5) 
                    <div class="rating-section">
                        <span class="star" data-value="1">★</span>
                        <span class="star" data-value="2">★</span>
                        <span class="star" data-value="3">★</span>
                        <span class="star" data-value="4">★</span>
                        <span class="star" data-value="5">★</span>
                    </div> -->

                    <!-- Like & Have Watched Icons (likes can be removed) -->
                    <div class="action-icons">

                        <!-- Unsure if like button is still needed or not
                        <div class="action-icon" id="like-btn" title="Like">
                        </div>

                        <div class="action-icon-haveWatched" id="watched-btn" title="Mark as Watched">
                            <h4>Marked as Watched</h4>
                        </div> -->

                        <!-- Theme boards drop down 
                            Description: this drop down box will allow users to add movies into their 
                            own created theme boards.
                            Note: They cannot add movies into other's theme boards. 
                            Future idea: Perhaps users can clone other users's theme boards? Or request the 
                            theme board owner to add this movie in their theme board. -->
                        <input type="hidden" id="movieApiId" th:value="${movie.id}" />
                        <div class="theme-dropdown">
                            <button class="dropdown-btn" id="dropdownBtn">
                                <span>Add to board</span>
                            </button>

                            <!-- Show user's created board(s) -->
                            <div class="dropdown-menu" id="dropdownMenu">
                                <button type="button" class="dropdown-item"
                                        th:each="board : ${boards}"
                                        th:text="${board.board_name}"
                                        th:data-board-id="${board.id}"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Movie page's footer: show the streaming platforms that the movie is on -->
            <!--
            <div class="media-footer">
                <div class="streaming-section">
                    <h3>Available on</h3>

                    <div class="platforms">

                        <div class="platform-icon"
                            th:each="p : ${movie.watch_providers}">

                            <img th:src="${p.logo_url}"
                                th:alt="${p.provider_name}"
                                th:title="${p.provider_name}" />

                            <span th:if="${provider.logoUrl == null}"
                            th:text="${provider.name}"></span>
                        </div>

                    </div>

                    <p th:if="${#lists.isEmpty(movie.watch_providers)}">
                        No streaming options available
                    </p>
                </div>
            </div> -->
        </main>

        <script th:src="@{/layout/js/fragments.js}"></script>
        <script th:src="@{/layout/js/mediaDisplay.js}"></script>

    </body>
</html>