<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${music.title}"></title>
        <link rel="stylesheet" th:href="@{/layout/css/global.css}">
        <link rel="stylesheet" th:href="@{/layout/css/fragments.css}">
        <link rel="stylesheet" th:href="@{/layout/css/mediaDisplay.css}">
    </head>
    <body>

        <!-- This is an html that shows the details of the music being clicked on.
        Downside, html has not yet thought of albums-->

        <!--header (display logo[sidebar toggle], homeReturn icon, search bar, user's name and avatar)-->
        <div th:replace="boardsLayout/fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded
         Please use the MO logo to work with side bar if needed -->
        <div th:replace="boardsLayout/fragments/sidebar :: sideBar"></div>

        <!-- =====================================================================
                main content of the page begins here 
        ===========================================================================-->

        <main class="media-container">

        <!-- Poster + Info -->
        <div class="media-header">
            <!-- Poster -->
            <div class="poster-card">
                <img th:src="${music.poster_path}" alt="Music Poster" id="poster-img" />
            </div>

            <!-- Music's Info: name, artist, release date. -->
            <div class="media-info">
                <h1 class="media-title" th:text="${music.title}"></h1>

                <div class="genres">
                    <span th:each="genre : ${music.genres}" th:text="${genre}" class="genre-tag"></span>
                </div>

                <!-- Meta info (released date and the movie's length)-->
                <div class="meta-info">
                    <!-- release date of the music -->
                    <div class="meta-item">
                        <h3 class="release-date-title">Released on:</h3>
                        <span th:text="${music.release_date}"></span>
                    </div>

                    <div class="meta-item">
                        <h3 class="music-artist">Artist:</h3>
                        <span th:text="${music.artist}"></span>
                    </div>

                    <div class="meta-item">
                        <h3 class="music-album">Album:</h3>
                        <span th:text="${music.album}"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Music's middle: show (possibly) lyrics + interactive/action panel (ratings + add to boards)-->
        <div class="media-middle">
            <!--Movie's Overview-->
            <div class="media-overview">
                <h3>Overview:</h3>
                <p th:text="${music.overview}"></p>
            </div>

            <!-- interactive/Action panel (ratings + add to boards)-->
            <div class="actions-panel">

                <!-- Star rating system -->
                <div></div>

                <!-- Add to board system (a theme boards drop down) 
                **   More detailed version can be found on movieDisplay.html
                <input type="hidden" id="musicApiId" th:value="${music.artist}" />-->
                <div class="theme-dropdown">
                    <button class="dropdown-btn" id="dropdownBtn">
                        <span>Add to board</span>
                    </button>

                    <!-- Show user's created board(s) -->
                    <div class="dropdown-menu" id="dropdownMenu">
                        <button type="button" class="dropdown-item"
                                th:each="board : ${boards}"
                                th:text="${board.board_name}"
                                th:data-board-id="${board.id}">
                        </button>                            
                    </div>
                </div>
            </div>
        </div>
        </main>

        <script th:src="@{/layout/js/fragments.js}"></script>
        <script th:src="@{/layout/js/mediaDisplay.js}"></script>
    </body>
</html>