<header th:fragment="header">
    
    <!--LOGO that control the side bar (fold and unfold)-->
    <img th:src="@{/layout/images/LogoSidebar/closeLogo.svg}" alt="Logo" class="logo" id="logo">

    <!--Home Button (returns to the landing page)-->
    <a href="/">
        <img th:src="@{/layout/images/Home.svg}" alt="homeBtn" class="home-btn">
    </a>

    <!-- Search bar -->
    <div class="search-bar-container">
        <input type="text" id="searchBar" class="search-bar"
               placeholder="What are you looking for, adventure?"
               th:value="${param.q != null ? param.q[0] : ''}"
               onkeydown="if(event.key === 'Enter' && this.value.trim()) window.location.href='/search?q=' + encodeURIComponent(this.value.trim()) + '&type=MOVIE'">
    </div>

    <!-- User's avatar + settings drop down -->
    <div class="user-container">
        <div class="avatar-box" id="avatarBox">
            <img th:src="${user.selected_avatar_type == 'custom' ? user.custom_avatar_URL : user.default_avatar_URL}"
            alt="Avatar" class="avatar userItem">
        </div>

        <div class="settings-box hidden" id="settingsBox">
            <ul class="settings-menu">
                <li data-setting="Profile">
                    <a href="/userProfile" class="settings-menu-items">Profile</a>
                </li>
                
                <li data-setting="Settings">
                    <a href="/user/settings" class="settings-menu-items">Settings</a>
                </li>

                <li data-setting="logout">
                    <a href="/auth/logout" class="settings-menu-items">Log out</a>
                </li>
            </ul>
        </div>
    </div>
</header>