<!--side bar elements to put in html pages-->

<aside class="side-bar collapsed" id="sideBar" th:fragment="sideBar">
    <div class="sidebar-content">
        <ul class="features-list">

            <!-- Navigates over to dashboard.html (name can be changed) -->
            <li data-feature="dashboard">
                <a href="/dashboardTab" class="sidebar-menu-items">Dashboard</a>
            </li>

            <!-- Navigates over to social.html (name can be changed)-->
            <li data-feature="socialFeature">
                <a href="/socialTab" class="sidebar-menu-items">Community</a>
            </li>

            <!-- Navigates over to trending.html (name can be changed)-->
            <li data-feature="trending">
                <a href="/trendingTab" class="sidebar-menu-items">Trending</a>
            </li>

            <!-- Navigates to the Liked Media page -->
            <li data-feature="likedMedia">
                <a href="/likedMediaTab" class="sidebar-menu-items">Liked Media</a>
            </li>

        </ul>

        <!-- This footer in the sidebar will be at the botton of the side bar. 
        This is to navigate to user profile + log out -->
        <div class="sidebar-footer">
            <a href="/auth/logout" class="sidebar-menu-items">Log out</a>
        </div>
    </div>
</aside>