<!--side bar elements to put in html pages-->

<aside class="side-bar collapsed" id="sideBar" th:fragment="sideBar">
    <div class="sidebar-content">

        <!-- Called this "Explore" section: Common features of application -->
        <ul class="features-list">
            <!-- Navigates over to dashboard.html (name can be changed) -->
            <li data-feature="dashboard">
                <a href="/dashboardTab" class="sidebar-menu-items">Dashboard</a>
            </li>

            <!-- Navigates over to social.html (name can be changed)-->
            <li data-feature="exploreBoards">
                <a href="/exploreBoards" class="sidebar-menu-items">Explore</a>
            </li>

            <!-- Navigates over to trending.html (name can be changed)-->
            <li data-feature="trending">
                <a href="/trendingTab" class="sidebar-menu-items">Trending</a>
            </li>
        </ul>

        <div class="sidebar-divider"></div>

        <!-- Called this "Friends": Social Section -->
        <ul class="features-list">
            <li data-feature="friendsTab">
                <a href="/friendsTab" class="sidebar-menu-items">Friends</a>
            </li>
        </ul>

        <div class="sidebar-divider"></div>

        <!-- Called this "Users": User Section -->
        <ul class="features-list">
            <li data-feature=""></li>
        </ul>

        <!-- This footer in the sidebar will be at the botton of the side bar. 
        This is to navigate to user profile + log out -->
        <!-- Fixed Footer for Current User -->
        <div class="sidebar-footer user-footer">
            <a href="/profile" class="sidebar-menu-items">
                <img th:src="${user.selected_avatar_type == 'custom' 
                ? user.custom_avatar_URL : user.default_avatar_URL}"  
                alt="User Avatar" class="avatar-small">
                
                <span class="username">Current User</span>
            </a>
            <a href="/auth/logout" class="sidebar-menu-items">Log out</a>
        </div>
    </div>
</aside>