<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Board's name</title>
        <link rel="stylesheet" th:href="@{/layout/css/global.css}">
        <link rel="stylesheet" th:href="@{/layout/css/fragments.css}">
        <link rel="stylesheet" th:href="@{/layout/css/boardPages.css}">

    </head>
    <body>
        <!-- This html will show when a user click on any board. Potential, this board will display 
         seperate sections for music, game, movies. Those objects will be clickable for users to click on
         for more specific informations
        -->
        
        <!--header (display logo[sidebar toggle], homeReturn icon, search bar, user's name and avatar)-->
        <div th:replace="boardsLayout/fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded
         Please use the MO logo to work with side bar if needed -->
        <div th:replace="boardsLayout/fragments/sidebar :: sideBar"></div>

        <!-- main content starts here -->
        <main class="board-container">

            <!-- Top section: Board's avatar + Basic Info -->
            <div class="board-header">

                <!-- Avatar may be commented out for now
                <div class="board-avatar">
                    <img src="" alt="avt">
                </div> --> 

                <div class="board-Info">
                    <!-- BOARD TITLE -->
                    <h1 class="board-title" th:text="${board.board_name}"></h1>

                    <!-- BOARD'S DESCRIPTION: description is optional so this space may or may not be blank
                    Unsure how much it would visually effect the layout in general. Doesn't look that bad for now.-->
                    <div class="board-desciption">
                        <span th:text="${board.board_description}"></span>
                    </div>

                    <!-- BOARD'S META: Show whether the board is public or private.-->
                    <div class="board-meta">
                        <span class="board-type-badge" th:text="${board.board_type}"></span>
                    </div>
                </div>
            </div>


            <!-- Middle Section: Community's Post + Media display -->
            <div class="board-middle">
                <!-- Let user choose to either see the posts or the media in this board-->
                <div class="middle-select">
                    <button class="board-post active" id="postsBtn">POST</button>
                    <button class="board-media" id="mediaBtn">MEDIA</button>
                </div>

                <!-- This section will be reserved for Post (Prab) -->
                <div class="board-POST-container" id="postsContainer"></div>

                <!-- MEDIA: this section is to display the media, which is whatever user has put in the board. 
                Aim for now: show movies -->
                <div class="board-MEDIA-container" id="mediaContainer" style="display: none;">

                    <!-- Media type selector -->
                    <div class="media-select">
                        <button class="media-tab active" id="moviesTab">Movies</button>
                        <button class="media-tab" id="gamesTab">Games</button>
                        <button class="media-tab" id="musicTab">Music</button>
                    </div>

                    <!-- Movies --> 
                    <div class="media-section" id="moviesSection">
                        <div class="media-card-display"></div>
                    </div>

                    <!-- Games -->
                    <div class="media-section" id="gamesSection" style="display:none;">
                        <div class="media-card-display"></div>
                    </div>

                    <!-- Music -->
                    <div class="media-section" id="musicSection" style="display:none;">
                        <div class="media-card-display"></div>
                    </div>
                </div>
            </div>

            <!-- Footer Section: in thoughts progress...-->
        </main>

        <script th:src="@{/layout/js/fragments.js}"></script>
        <script th:src="@{/layout/js/boardPages.js}"></script>

    </body>
</html>