<!DOCTYPE html>
<html lang="en"> 
    <head>
        <meta charset="UTF-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Media Odyssey - board creating</title>
        <link rel="stylesheet" th:href="@{/layout/css/global.css}">
        <link rel="stylesheet" th:href="@{/layout/css/fragments.css}">
        <link rel="stylesheet" th:href="@{/layout/css/boardPages.css}">

    </head>
    <body>
        <!--This html will show elments to create a board. 
        This is just to set a board titles and avatar. Objects like movies, games, and songs
        will be added or searched in the boardDisplay.html-->

        <!--header (display logo[sidebar toggle], homeReturn icon, search bar, user's name and avatar)-->
        <div th:replace="boardsLayout/fragments/header :: header"></div>

        <!-- A side bar that contains features (can be discussed). Side bar can be folded
         Please use the MO logo to work with side bar if needed -->
        <div th:replace="boardsLayout/fragments/sidebar :: sideBar"></div>

        <!-- main content starts here -->
        <main class="form-container">
            <form th:action="@{/boards/create}" method="post" th:object="${board}" class="create-board-form">
                <div class="form-leftside">
                    <input type="text" th:field="*{board_name}" placeholder="Your adventure's name" class="name-input-box" required>

                    <input type="text" th:field="*{board_description}" placeholder="Describe your adventure" class="desc-input-box">

                    <select th:field="*{board_type}" id="boardType" class="board-type">
                        <option value="Public">Public</option>
                        <option value="Private">Private</option>
                    </select>

                    <button type="submit" class="create-board">Create</button>

                </div>

                <!-- Avatar function is currently not researched so I'll comment this out.
                <div class="form-rightside">
                    <div class="avatar-input">
                        <p>Avatar</p>
                    </div>
                </div> -->
            </form>
        </main>
        
        <script th:src="@{/layout/js/fragments.js}"></script>
    </body>
</html>